@use "sass:math";
@import "./variables.scss";
@import "./mixins.scss";

.about-wrapper {
  section {
    font-family: "Syne", sans-serif;
    .title_wrapper {
      align-self: flex-end;
      margin-bottom: var(--section_padding);
    }
    h2 {
      text-shadow: 4px 4px 8px $black_primary;
      span {
        writing-mode: vertical-lr;
      }
    }
    .profile_image_wrapper {
      display: flex;
      justify-content: flex-end;
      margin-bottom: var(--section_padding);
    }

    .react_icon_wrapper {
      padding: 20px 0;
      width: 80%;
      svg {
        width: 100%;
        height: auto;
        margin: 0 auto;
        animation: spin infinite 20s linear;
      }
      @media screen and (max-width: 700px) {
        width: 60%;
      }
    }
    .overview {
      &_wrapper {
        padding: 50px 0 50px 50px;
        p {
          strong {
            font-weight: inherit;
            position: relative;
            display: inline-block;

            &:before {
              content: "";
              color: $black_primary;
              position: absolute;
              bottom: 0;
              border:1px solid $black_primary;
              width:0;
            }
          }
        }
        @for $i from 1 through 10 {
          &_animated strong:nth-child(#{$i}) {
            &:before {
              animation: grow_width 0.5s ease-in 1s * $i forwards;


            }
          }
        }
        @media screen and (max-width: 700px) {
          padding: 20px 0;
        }
      }
      &_button {
        font-family: "Syne",sans-serif;
        background-color: transparent;
        padding: 10px 0;
        position: relative;
        color: $black_primary;
        @include font-size($small_title_font_sizes, $breakpoints);
        @include transition(all, 0.3s);
        @include border_appear_bottom(2px, #6d6d6d, 0.3s);
        &:before {
          content: "\1F852";
          color: #6d6d6d;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          opacity: 0;
          @include transition(all, 0.3s);
        }

        &:hover {
          padding-left: 40px;
          color: $gray_font;
          &:after {
            width: 100%;
          }
          &:before {
            opacity: 1;
          }
        }
      }
      @media screen and (max-width: 700px) {
        .half_width {
          width: 100%;
        }
      }
    }
  }

  .profile_image {
    position: relative;
    background: center / cover no-repeat url("../images/profile_image.PNG");
    width: #{"min(35vw, 350px)"};
    height: #{"min(45vw, 450px)"};
    margin: 0;
    padding: 0;
    border-bottom-left-radius: min(30px, 5vw);
    border-bottom-right-radius: min(30px, 5vw);
    @media screen and (min-width: $breakpoint_desktop) {
      width: #{"min(42vw, 420px)"};
      height: #{"min(63vw, 630px)"};
    }
  }
}

.stack_carousel {
  width: 100%;
  height: 20%;
  position: relative;
  border: 1px dashed black;
  border-radius: 50%;
  list-style-type: none;
  &_wrapper {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 100%;
  }
  &_item {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    opacity: 0;
    font-size: 1.4rem;
    transition: all 0.5s ease-in-out;

    svg {
      width: #{"min(3.7vw, 50px)"};
      height: #{"min(3.7vw, 50px)"};
    }
  }
  @for $i from 1 through 7 {
    .stack_carousel_item:nth-child(#{$i}) {
      animation: move-x 10s linear 1s * (-10/7) * $i infinite,
        move-y 10s linear 1s * (-10/7) * $i infinite;
    }
  }
}

.extras {
  h3 {
    text-align: center;
    margin: 50px 0;
    font-size: min(32px,8vw);
  }
  &_list {
    width: 100%;
    overflow: hidden;
    &_item {
      min-height: 300px;
      padding: 30px 0;
      p.subtitle {
        font-family: "SyneBold";
        font-size:min(24px, 6vw);
        margin: 0;
      }
      .flex_box_space_between {
        align-items: flex-start;
      }
      &:first-child {
        padding-right: 50px;
      }
      &:last-child {
        padding-left: 50px;
      }
      .image_wrapper {
        position: relative;
        width: min(80px, 8vw);
        height: min(80px, 8vw);
        margin: 0 min(40px, 4vw) 0 10px;
        img {
          width: 100%;
          height: 100%;
          position: relative;
        }
        &:before {
          position: absolute;
          content: "";
          top: -20%;
          right: -40%;
          width: 140%;
          height: 140%;
          border-radius: 50%;
          background: linear-gradient(-90deg, $yellow_primary, transparent);
        }
      }
    }
    @media screen and (max-width: 700px) {
      flex-wrap: wrap;
      &_item {
        padding: 20px 0;
        min-height: 240px;
        &:first-child {
          padding-right: 0;
        }
        &:last-child {
          padding-left: 0;
        }
      }
      .image_wrapper {
        width: 13vw;
        height: 13vw;
        margin: 0 6.5vw 0 10px;
      }
      .half_width {
        width: 100%;
      }
    }
  }
}
