@import "./mixins.scss";
@import "./variables.scss";
:root {
  --section_padding: 50px;
  @media screen and (max-width: $breakpoint_mobile) {
    --section_padding: 20px;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  background-color: $main-bg-color;
}

.container_outer {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1280px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  outline: none;
  &:not(button:disabled) {
    cursor: pointer;
  }
}

button.underlined {
  font-family: "Syne", sans-serif;
  background-color: transparent;
  padding: 10px 0;
  position: relative;
  color: $black_primary;
  @include font-size($small_title_font_sizes, $breakpoints);
  @include transition(all, 0.3s);
  @include border_appear_bottom(2px, #6d6d6d, 0.3s);

  &:before {
    content: "\1F852";
    color: #6d6d6d;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    @include transition(all, 0.3s);
  }

  &:hover {
    padding-left: 40px;
    color: $gray_font;

    &:after {
      width: 100%;
    }

    &:before {
      opacity: 1;
    }
  }
}


h1, h2, h3 {
  font-family: "KgSecondChances";
  margin: 0;
}
h2 {
  font-size: min(11vw, 158px);
}

h4,
h5 {
  @include font-size($small_title_font_sizes);
  font-family: "KgSecondChances";
}
h1,
h2,
h3,
h4,
p {
  i {
    font-weight: 200;
    font-style: normal;
  }
}
p {
  font-family: "Syne",sans-serif;
  @include font-size($paragraph_font_sizes, $breakpoints);
}


h2.title_vertical {
  text-shadow: 4px 4px 8px $black_primary;
  font-weight: 200;
  span {
    writing-mode: vertical-lr;
  }
  
}

.grid_ {
  &horizontal {
    background-color: $black_primary;
    height: 1px;
    width: 100%;
  }
  &vertical {
    background-color: $black_primary;
    width: 1px;
    height: 100%;
  }
}
.full_vh {
  min-height: 100vh;
}
.underline_on_hover {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 2px solid #fff;
    width: 0;
    @include transition(width, 0.3s);
  }
  &:not(.active):hover {
    &:after {
      width: 100%;
    }
  }
}

.flex_box_space_between {
  display: flex;
  justify-content: space-between;
}
.flex_box_center_end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex_box_start_center {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}



.flex_box_start_between {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.flex_box_center_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_box_col {
  display: flex;
  flex-direction: column;
}

.half_width {
  width: 50%;
  @media screen and (max-width: 1024px) {
    width: 100%;
    &_wrapper {
      flex-wrap: wrap;
      flex-direction: column-reverse;
    }
  }
}

