@font-face {
    font-family: 'NuevaGarciaRegular';
    src: url('../fonts/nueva-garcia/NuevaGarciaRegular.ttf') format('truetype');
    /* Adjust the path to correctly reference the font file */
}

@font-face {
    font-family: "KgSecondChances";
    src: url('../fonts/kg-second-chances/KgSecondChancesSketch-KpAp.ttf');
}

@font-face {
    font-family: "KgSecondChancesSolid";
    src: url("../fonts/kg-second-chances/KgSecondChancesSolid.ttf") format("truetype");
}
@font-face {
    font-family: "SyneBold";
    src: url("../fonts/Syne/static/Syne-Bold.ttf"), format('truetype');
}
@font-face {
    font-family: "SyneExtraBold";
    src: url("../fonts/Syne/static/Syne-ExtraBold.ttf"), format('truetype');
}

@font-face {
    font-family: "Syne";
    src: url("../fonts/Syne/static/Syne-SemiBold.ttf"), format('truetype');
}
@font-face {
    font-family: "Monserrat";
    src: url("../fonts//Montserrat/static/Montserrat-Regular.ttf"), format('truetype');
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-Regular.ttf"), format('truetype');
}

