//colors
$main-bg-color:rgb(230, 230, 230);
$black_primary:rgb(34, 34, 34);
$black_op01: rgba(34, 34, 34, 10%);
$black_op06: rgba(34, 34, 34, 60%);
$black_op07: rgba(34, 34, 34, 70%);
$gray_font:rgb(77, 77, 77);
$yellow_primary:rgb(245, 210, 92);

//breakpoints
$breakpoint_desktop:1280px;
$breakpoint_laptop:1024px;
$breakpoint_tablet:700px;
$breakpoint_mobile:480px;
$breakpoint_mobile_s: 360px;

$breakpoints: (
  xsmall: $breakpoint_mobile_s,
  small : $breakpoint_mobile,
  medium: $breakpoint_tablet,
  large : $breakpoint_laptop,
);
//font-sizes
$subtitle_font_sizes: (
  null: 28px,
  small: 28px,
  medium : 44px,
  large : 64px,
);

$small_title_font_sizes: (
  null: 18px,
  small: 18px,
  medium : 24px,
  large : 28px,
);


$paragraph_font_sizes: (
  null: 16px,
  small: 16px,
  medium : 18px,
  large : 20px,
);

$small_paragraph_font_sizes: (
  null: 14px,
  small: 14px,
  medium : 14px,
  large : 16px,
)

