.work_wrapper {
  $title_wrapper_width: min(13vw, 300px);
  .hero {
    display: flex;
    position: relative;

    &_bg {
      width: 60%;
      height: 100%;
      background-position: top center;
      background-size: contain;
      background-repeat: no-repeat;
      filter: grayscale(50%);
    }

    .title_wrapper {
      width: $title_wrapper_width;
      border-right: 1px solid $black_primary;

      h2 {
        text-align: center;
        height: 100%;
        display: flex;
      }
    }

    .tabs_wrapper {
      min-height: inherit;
      position: absolute;
      right: 0;
      width: calc(min(90%, 1440px) - $title_wrapper_width);
      ul {
        height: 100%;
        width: 100%;
        overflow: hidden;

        div {
          width: 100%;

          &:first-of-type {
            border-bottom: 1px solid $black_primary;
          }
        }
      }

      li {
        width: 90%;
        margin-right: min(10%, 80px);

        h2 {
          font-size: min(140px, 12vw);
          text-align: right;
          margin: 0;
          cursor: pointer;
          transition: all 0.3s ease-in;

          &:hover {
            font-weight: 200;
            transform: scale(0.9);
          }
        }
      }
    }
  }

  .slider_wrapper {
    width: 65%;
    position: absolute;
  }
}